*
    margin: 0
    padding: 0
    box-sizing: border-boxz
.dpb
    display: block!important
header
    .container
        max-width: 1150px
        width: 95%
        margin: 0 auto
        display: flex
        justify-content: space-between
        align-items: center
        padding: 30px 0
        .logo
            img
                max-width: 312px
                max-height: 141
        .addresInfo
            display: flex
            .left
                margin-right: 13px
                img
                    max-width: 25px
                    max-height: 35px
            .right
                max-width: 177px
                p
                    font-family: 'Roboto'
                    font-size: 14px
                    font-weight: 400
                    line-height: 18px
                    margin-bottom: 15px
                span
                    display: block
                    max-width: 147px
                    color: #202124
                    font-family: "Muller"
                    font-size: 12px
                    font-weight: 400
                    line-height: 18px
        .phoneNumbers
            display: flex
            flex-direction: column
            align-items: flex-end
            .wrapper
                display: flex
                .left
                    align-self: flex-end
                    margin-right: 30px
                    img
                        max-width: 65px
                        max-height: 40px
                .right
                    display: flex
                    align-items: center
                    .phones
                        margin-right: 10px
                        a
                            display: block
                            color: #000000
                            text-decoration: none
                            font-family: 'Roboto'
                            font-size: 22px
                            font-weight: 900
                            line-height: 29.39px
                            text-transform: uppercase
                            span
                                font-size: 12px
                                font-weight: 400
                                line-height: 24px
                                text-transform: none
                    a.button
                        display: block
                        background-color: #d32025
                        height: max-content
                        padding: 5px 10px
                        border-radius: 7px
            .feedback
                margin-top: 25px
                height: max-content
                width: fit-content
                display: block
                background-color: #d32025
                color: #ffffff
                font-family: Roboto
                font-size: 16px
                font-weight: 700
                line-height: 45px
                padding: 0 35px
                border-radius: 7px
#menu
    background-color: #ede6de
    .container  
        width: 95%
        max-width: 1150px
        margin: 0 auto
        display: flex
        justify-content: space-between
        align-items: center
        .menu
            .menuList
                list-style-type: none
                display: flex
                &-item
                    display: block
                    a
                        display: inline-block
                        text-decoration: none
                        color: #000000
                        font-family: 'Roboto'
                        font-size: 18px
                        font-weight: 700
                        line-height: 58px
                        padding: 0px 45px
                        transition: .3s
                        &:hover
                            background-color: #d32025
        .socLinks
            &-list
                list-style-type: none
                &-item
                    margin-right: 25px
                    display: inline-block
#breadcrumbs
    padding: 25px 0
    border-bottom: 1px solid #acacac
    .container  
        width: 95%
        max-width: 1150px
        margin: 0 auto
        .path
            display: flex
            li
                font-family: 'Roboto'
                font-size: 16px
                font-weight: 400
                line-height: 18px
                display: flex
                align-items: center
                margin-right: 10px
                a
                    text-decoration: none
                    color: #000000
                &:last-child
                    &::after
                        display: none
                img
                    margin-right: 10px
                &::after
                    margin-left: 10px
                    content: '';
                    display: inline-block
                    width: 11px
                    height: 22px
                    background: url(../img/slash.png) no-repeat
                    background-position: center center
#title
    .titleContainer
        display: flex
        align-items: flex-end
        justify-content: space-between 
        width: 95%
        max-width: 1150px
        margin: 0 auto
        padding: 30px 0
        p   
            font-family: 'Roboto'
            font-size: 48px
            font-weight: 900
            text-transform: uppercase
        span
            margin-bottom: 11px
            display: block
            width: 454px
            height: 3px
            background-color: #d32025

#exterminate
    background-image: url(../img/exter.png)
    background-size: cover
    background-position: center center
    padding: 36px 0
    .contantContainer
        width: 95%
        max-width: 1300px
        margin: 0 auto
        .container
            width: 100%
            display: flex
        .left
            box-shadow: 0 0 40px rgba(119, 119, 119, 0.75)
            background-color: #e50116
            color: #ffffff
            font-family: 'Roboto'
            font-size: 57px
            font-weight: 900
            text-transform: uppercase
            padding: 60px 95px 40px 70px
            h4
                max-width: 392px
                margin-bottom: 55px
            p
                font-size: 55px
                margin-bottom: 50px
            a
                color: #000000
                width: fit-content
                border-radius: 7px
                font-size: 18px
                font-weight: 700
                line-height: 45px
                text-decoration: none
                display: block
                padding: 0 45px
                background-color: #ede6de
                margin: 0 auto
        .right  
            box-shadow: 0 0 40px rgba(119, 119, 119, 0.75)
            background-color: rgba(0, 0, 0, 0.68)
            padding: 80px 20px 60px 40px
            ul
                color: #ffffff
                font-family: 'Roboto'
                font-size: 26px
                font-weight: 900
                list-style-type: none
                li
                    display: flex
                    align-items: center
                    margin-bottom: 25px
                    &::before
                        content: ''
                        display: inline-block
                        width: 42px
                        height: 35px
                        background-image: url(../img/check.png)


#prof
    padding: 80px 0 60px 0
    .container  
        width: 95%
        max-width: 1150px
        margin: 0 auto
        h4
            font-family: 'Roboto'
            font-size: 48px
            font-weight: 500
            text-align: center
            margin-bottom: 40px
        .wrapper    
            display: flex
            align-items: center
            justify-content: space-around
            .right  
                font-family: 'Roboto'
                font-size: 18px
                font-weight: 400
                line-height: 24px
                max-width: 820px
                p
                    margin-bottom: 25px
                span
                    display: block
                    margin-bottom: 25px
                    color: #d6010c
                    font-weight: 700
                    text-transform: uppercase
                ul
                    li
                        font-weight: 900
                        list-style-type: none
                        margin-bottom: 25px
                        &:last-child
                            margin-bottom: 0
                        &::before
                            content: '-'
                            display: inline-block
                            margin-right: 10px


#tech
    background-color: #f5f5f5
    padding: 40px 0
    .container
        position: relative
        z-index: 100
        width: 95%
        max-width: 1150px
        margin: 0 auto
        font-family: 'Roboto'
        padding: 70px 0
        box-shadow: -2px 5px 40px rgba(0, 0, 0, 0.48)
        border: 3px solid #e50116
        background-color: #ffffff
        h4
            font-size: 48px
            font-weight: 900
            line-height: 53.88px
            text-transform: uppercase
            text-align: center
            margin-bottom: 60px
        .wrapper    
            display: flex
            justify-content: space-between
            margin-bottom: 50px
            padding: 0px 50px
            .left
                display: flex
                align-items: flex-start
                p
                    font-size: 18px
                    font-weight: 400
                    line-height: 24px
                    max-width: 295px
                    margin-left: 15px
            .right
                display: flex
                align-items: flex-start
                p
                    font-size: 18px
                    font-weight: 400
                    line-height: 24px
                    max-width: 320px
                    margin-left: 15px
        .dop
            display: flex
            padding: 0 50px
            img
                max-width: 45px
                max-height: 50px
            p
                font-size: 18px
                font-weight: 400
                line-height: 24px
                margin-left: 18px
                max-width: 850px

#priceList
    padding: 200px 0 95px 0
    background-color: #fff
    margin-top: -130px
    .container  
        font-family: 'Roboto'
        width: 95%
        max-width: 1150px
        margin: 0 auto
        h4
            line-height: 44.33px
            font-size: 48px
            font-weight: 900
        h5
            font-size: 30px
            line-height: 44.33px
            font-weight: 400
            margin-bottom: 25px
        .wrapper
            margin-bottom: 45px
            .item
                &:nth-child(odd)
                    .left, .center, .right
                        background-color: #f0f0f0
                display: flex
                .left, .center, .right
                    width: 33.33333%
                    border-right: 1px solid #d7d7d7
                    border-bottom: 1px solid #d7d7d7
                    font-family: Roboto
                    font-size: 16px
                    font-weight: 400
                    line-height: 24px
                    padding: 25px 30px
                .left
                    border-left: 1px solid #d7d7d7
            .first-item
                .left, .center, .right
                    color: #fefefe
                    background-color: #e50116!important
                    border-top: 1px solid #612525
        .order
            display: flex
            align-items: center
            justify-content: center
            height: 52px
            width: fit-content
            padding: 0 30px
            text-decoration: none
            color: #ffffff
            font-family: Roboto
            font-size: 16px
            font-weight: 700
            line-height: 18px
            background-color: #d32025
            border-radius: 7px
            margin: 0 auto
            img
                margin-right: 10px

#attention
    background-color: #cec6c4
    background-image: url(../img/attent1.png)
    background-repeat: no-repeat
    padding: 100px 0 100px 0
    .container
        width: 95%
        max-width: 1150px
        margin: 0 auto
        display: flex
        justify-content: flex-end
        .wrapper
            width: 613px
            background-color: #ffffff
            position: relative
            font-family: Roboto
            font-size: 18px
            font-weight: 400
            line-height: 24px
            max-width: 613px
            padding: 16px 0px 30px 0px
            img.abs
                position: absolute
                top: 0
                left: 0
                z-index: 9
            h5
                color: #ffffff
                text-transform: uppercase
                font-weight: 900
                font-size: 29px
                position: relative
                z-index: 10
                text-align: center
                margin-bottom: 45px
            p
                font-size: 16px
                text-transform: uppercase
                font-weight: 900
                color: #d32025
                margin-bottom: 20px
                text-align: center
            span
                display: block
                margin-bottom: 20px
                font-size: 23px
                text-align: center
                font-weight: 900
            .timer
                display: flex
                justify-content: space-around
                max-width: 470px
                margin: 0 auto
                margin-bottom: 20px
                &-item
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: column
                    height: 100px
                    width: 100px
                    border-radius: 50%
                    border: 3px solid #e50116
                    p
                        font-size: 26px
                        margin-top: 15px
                        color: #000000
                        margin-bottom: 0
                        font-weight: 700
                    span
                        font-size: 14px
                        margin-bottom: 0
            .adv
                font-size: 18px
                font-weight: 400
                line-height: 24px
                text-align: left
                max-width: 490px
                text-transform: none
                color: #000000
                margin: 0 auto
            a
                width: 248px
                line-height: 52px
                text-align: center
                display: block
                padding: 0 60px
                box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.33)
                background-color: #d32025   
                border-radius: 7px
                color: #ffffff
                font-weight: 700
                font-size: 16px
                margin: 0 auto
                margin-top: 30px
#info
    padding: 70px 0 100px 0
    .container  
        width: 95%
        max-width: 1150px
        margin: 0 auto
        color: #000000
        font-family: 'Roboto'
        font-size: 18px
        font-weight: 400
        line-height: 24px
        p
            margin-bottom: 30px
        
#stage
    font-family: 'Roboto'
    padding: 80px 0 120px 0
    background-color: #f5f5f5
    .container
        width: 95%
        max-width: 1150px
        margin: 0 auto
        h4
            font-size: 48px
            font-weight: 900
            text-transform: uppercase
            text-align: center
            margin-bottom: 70px
        .wrapper
            .top
                display: flex
                justify-content: space-between
                max-width: 964px
                margin: 0 auto
                .mark
                    position: relative
                    text-align: center
                    width: 214px
                    img
                        display: block
                        margin: 0 auto
                        margin-bottom: 30px
                        width: 107px
                    p
                        font-family: "Montserrat - Semi Bold", sans-serif
                        font-size: 29px
                        font-weight: 400
                        line-height: 43.75px
                        text-transform: uppercase
                        position: absolute
                        left: 50%
                        top: 30px
                        transform: translateX(-50%)
                    span
                        display: block
                        font-size: 18px
                        font-weight: 400
                        margin: 0 auto
                    .fir
                        max-width: 161px
                    .sec
                        max-width: 214px
                    .thir
                        max-width: 118px
                    .four
                        max-width: 164px
                    .dots
                        width: 195px
                        height: 5px
                        background-image: url(../img/dots.png)
                        position: absolute
                        top: 130px
                        left: 135px
#quest
    padding: 150px 0
    font-family: 'Roboto'
    background-image: url(../img/questBg.png)
    background-position: right
    .container
        width: 95%
        max-width: 1150px
        margin: 0 auto
        .wrapper
            box-sizing: border-box
            max-width: 868px
            margin: 0 auto
            border: 1px solid #353535
            background-color: rgba(255, 255, 255, 0.76)
            padding: 48px 60px 40px 60px
            h4
                font-size: 36px
                font-weight: 900
                line-height: 24px
                text-transform: uppercase
                text-align: center
                margin-bottom: 15px
            p
                text-align: center
                font-size: 14px
                font-weight: 400
                line-height: 24px
                margin-bottom: 35px
            form
                .form-wrapper
                    display: flex
                    justify-content: space-between
                    margin-bottom: 22px
                    input
                        display: block
                        width: calc(50% - 20px)
                        line-height: 41px
                        padding: 0 10px
                        border: 1px solid black
                        border-radius: 7px
                        outline: none
                        &::placeholder
                            color: #e50116
                            font-family: "Arial"
                            font-size: 17px
                            font-weight: 400
                            line-height: 24px
                button
                    display: block
                    padding: 0 35px
                    border-radius: 7px
                    line-height: 38px
                    background-image: linear-gradient(to top, #a00413 0%, #e50116 56%, #d32025 100%)
                    border: none
                    outline: none
                    color: #ffffff
                    font-family: "Pragmatica C"
                    font-size: 18px
                    font-weight: 400
                    margin: 0 auto
                    margin-bottom: 27px
                .sign
                    cursor: pointer
                    text-align: center
                    display: flex
                    align-items: center
                    justify-content: center
                    font-family: "Arial"
                    #singCheck
                        opacity: 0
                        margin-right: -16px
                    #singCheck + label
                        background: url('../img/unchecked-checkbox.png') no-repeat
                        display:inline-block
                        padding: 0 0 0 20px
                        background-size: 18px 18px
                    #singCheck:checked + label
                        background: url(../img/checked.png) no-repeat
                        background-size: 18px 18px


#scheme
    padding-top: 75px
    h4
        font-family: "Roboto"
        font-size: 48px
        font-weight: 900
        text-transform: uppercase
        text-align: center
        margin-bottom: 45px
    .map
        img
            width: 100%

footer
    font-family: "Pragmatica C"
    background-color: #f5f5f5
    padding-top: 50px
    .rl
        width: 100%
        height: 19px
        background-color: #e50116
        margin-top: 20px
    .container
        width: 95%
        max-width: 1150px
        margin: 0 auto
        .top
            display: flex
            justify-content: space-between
            align-items: flex-start
            font-size: 14px
            font-weight: 400
            .left
                img
                    margin-bottom: 20px
                .right  
                    margin-bottom: 20px
                p
                    line-height: 25px
            .center
                margin-top: 85px
                ul
                    list-style-type: none
                    li
                        width: 220px
                        line-height: 30px
                        border-bottom: 1px solid #353535
            .right
                .socLinks
                    margin-bottom: 45px
                    a
                        margin-right: 5px
                .loc
                    margin-bottom: 20px
                    display: flex
                    align-items: flex-start
                    img
                        margin-right: 20px
                    p
                        max-width: 180px
                .wrs
                    margin-bottom: 20px
                    img
                        margin-right: 20px
                    a
                        text-decoration: none
                        color: #000000
        .bottom
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 50px
        
.burger
    cursor: pointer
    display: none
//MAIN PAGE STYLES --------------------------------------

#slid
    background-image: url(../img/mainBg.png)
    padding: 90px 0 60px 0
    background-size: cover
    .container  
        width: 95%
        max-width: 1150px
        margin: 0 auto
        font-family: "Roboto"
        font-weight: 900
        display: flex
        justify-content: space-between
        .left
            .slider
                // position: relative
                max-width: 751px
                &-wrapper
                    &-item
                        background-color: rgba(9, 36, 67, .46)
                        padding: 15px 30px 24px 30px
                        max-height: 389px
                        p
                            font-size: 48px
                            text-transform: uppercase
                            color: #ffffff
                            margin-bottom: 27px
                        span
                            color: #e50116
                            font-size: 46px
                            margin-bottom: 40px
                            display: block
                        ul
                            list-style: none
                            li
                                margin-bottom: 20px
                                color: #ffffff
                                font-size: 26px
                                display: flex
                                align-items: center
                                &:last-child
                                    margin-bottom: 0
                                &::before
                                    content: ''
                                    display: inline-block
                                    width: 42px
                                    height: 35px
                                    background-image: url(../img/check.png)
                                    margin-right: 10px
                .prevArrow, .nextArrow
                    position: absolute
                    right: -53px
                    top: 100%
                .prevArrow
                    transform: translateY(-200%)
                .nextArrow
                    transform: translateY(-100%)

        .right
            box-sizing: border-box
            max-width: 254px
            padding: 20px 28px
            background-color: rgba(255, 255, 255, .8)
            p   
                font-size: 23px 
                margin-bottom: 23px
            span
                font-size: 14px
                font-weight: 400
                margin-bottom: 25px
                display: block
            form
                input
                    line-height: 41px
                    border: 1px solid #7c8c9c
                    border-radius: 7px
                    padding: 0 10px
                    margin-bottom: 13px
                    outline: none
                button
                    width: 189px
                    height: 38px
                    border: 1px solid #ffb4b4
                    background-image: linear-gradient(to top, #a00413 0%, #e50116 56%, #d32025 100%)
                    border-radius: 7px
                    font-family: "Pragmatica C"
                    color: #ffffff
                    font-size: 16px
                    font-weight: 700
                    line-height: 20.77px
                    margin-top: 10px
                    margin-bottom: 16px


#disc
    position: relative
    background-color: #e50116
    .container
        width: 95%
        max-width: 1150px
        margin: 0 auto
        padding: 20px 0
        p
            font-family: "Roboto"
            font-size: 31px
            font-weight: 900
            position: relative
            text-align: center
            color: #ffffff
            z-index: 5
    img
        position: absolute
        bottom: -22px
        left: 50%
        transform: translateX(-50%)

#sercis
    overflow: hidden
    background-color: #f5f5f5
    padding: 70px 0
    .container  
        width: 95%
        max-width: 1150px
        margin: 0 auto
        .title
            display: flex
            align-items: flex-end
            justify-content: space-between
            font-family: "Roboto"
            font-size: 48px
            font-weight: 900
            line-height: 53.88px
            text-transform: uppercase
            span
                display: block
                width: 485px
                height: 1px
                background-color: #000000
        .wrapper
            font-family: Roboto
            font-weight: 900
            display: flex
            justify-content: space-between
            align-items: center
            padding-top: 80px
            .item
                box-sizing: border-box
                max-width: 532px
                h6
                    color: #ffffff
                    font-size: 24px
                    font-weight: 900
                    line-height: 79px
                    padding: 0 25px
                    background-color: #e50116
                    width: fit-content
                    text-transform: uppercase
                    position: relative
                    z-index: 100
                .bout
                    background-color: #ffffff
                    padding: 15px 25px 30px 40px
                    box-shadow: 0 0 10px rgba(0,0,0,0.5)
                    .img-wrapper
                        position: relative
                        height: 108px
                        img
                            position: absolute
                            left: -40px
                            top: -110px
                    .sec
                        img
                            top: -27px!important
                    &-wrapper
                        position: relative
                        z-index: 10
                        .hor-line
                            width: 532px
                            height: 2px
                            background-color: #ff0000
                            margin-left: -40px
                        .price
                            margin-top: 15px
                            margin-bottom: 13px
                            p
                                font-size: 18px
                                text-transform: uppercase    
                                span
                                    font-size: 30px
                                    color: #d32025
                        .sho
                            background-color: #dee5ed
                            display: flex
                            align-items: center
                            justify-content: space-between
                            padding: 0 13px
                            margin-bottom: 10px
                            p  
                                color: #e50116
                                font-size: 31px
                                font-weight: 900
                                line-height: 47.05px
                            span
                                font-size: 16px
                                max-width: 287px
                        ul
                            padding-left: 20px
                            font-size: 16px
                            font-weight: 400
                            line-height: 24px
                            li
                                max-width: 344px    
                                margin-bottom: 8px
                                &:last-child
                                    margin-bottom: 0
                        .links
                            display: flex
                            justify-content: flex-start
                            align-items: center
                            margin-top: 17px
                            .ord
                                display: block
                                width: fit-content
                                border-radius: 7px
                                text-decoration: none
                                color: #ffffff
                                font-size: 18px
                                font-weight: 400
                                line-height: 45px
                                background-color: #e50116
                                border: 1px solid #ffb4b4
                                padding: 0 40px
                                margin-right: 45px
                            .mor
                                color: #0071a5
                                font-size: 18px
                                font-weight: 400
                                line-height: 18px
                                text-decoration: none

#ofic
    padding: 45px 0 80px 0
    .container
        width: 95%
        max-width: 1150px
        margin: 0 auto
        font-family: Roboto
        h4
            font-size: 48px
            font-weight: 500
            text-align: center
            margin-bottom: 40px
        .wrapper
            display: flex
            justify-content: space-around
            align-items: flex-start
            .left
                img
                    max-width: 207px
                    max-height: 207px    
            .right
                max-width: 817px
                font-size: 18px
                line-height: 24px   
                span
                    font-weight: 900
                    display: block
                    margin-bottom: 30px
                p
                    font-weight: 400

#act
    display: none
    background-color: #ede6de
    padding: 50px 0 60px 0
    .container
        width: 95%
        max-width: 1150px
        margin: 0 auto
        font-family: "Roboto"
        font-size: 40px
        font-weight: 900
        .top
            color: #d32025
            text-transform: uppercase
            display: flex
            justify-content: space-between
            align-items: flex-end
            span
                display: block
                margin-bottom: 8px
                width: 998px
                height: 1px
                background-color: #b8000c
        .bottom
            margin-top: 40px
            .wrapper
                border: 2px solid #b8000c
                display: flex
                align-items: center
                justify-content: space-around
                padding: 35px 10px 25px 10px
                .left
                    p
                        color: #d32025
                        font-size: 57px
                        line-height: 75.92px
                        text-transform: uppercase
                    span
                        display: block
                        max-width: 271px
                        font-size: 22px
                        line-height: 29.17px
                        text-transform: uppercase
                .center
                    font-size: 20px
                    line-height: 26.42px
                    max-width: 400px
            .right
                a
                    display: block
                    padding: 0 33px
                    background-color: #d32025
                    width: fit-content
                    border-radius: 7px
                    text-decoration: none
                    color: #ffffff
                    font-size: 16px
                    font-weight: 400
                    line-height: 38px
                    text-transform: uppercase

#process
    padding: 78px 0 95px 0
    .container
        width: 95%
        max-width: 1150px
        margin: 0 auto
        font-family: Roboto
        font-size: 20px
        font-weight: 400
        h4
            text-align: center
            margin-bottom: 90px
            font-size: 48px
            font-weight: 900
            text-transform: uppercase
        .wrapper
            display: flex
            align-items: center
            justify-content: space-between
            .procList
                ul
                    text-decoration: none
                    li
                        display: block
                        line-height: 51px
                        text-align: center
                        width: 294px
                        background-color: #e2e3e3
                        border-radius: 7px
                        margin-bottom: 35px
                        transition: .3s
                        cursor: pointer
                        &:last-child
                            margin-bottom: 0
                        &:hover
                            color: #ffffff
                            background-image: linear-gradient(to top, #a00413 0%, #e50116 56%, #d32025 100%)
                            transition: .3s
            .center

#leav
    padding: 110px 0 115px 0
    background-image: url(../img/family.png)
    .container
        width: 95%
        max-width: 1150px
        margin: 0 auto
        font-family: "Pragmatica C"
        font-size: 14px
        font-weight: 400
        line-height: 24px
        .wrapper    
            padding: 40px 55px 30px 55px
            box-sizing: border-box
            width: fit-content
            background-color: rgba(255, 255, 255, 0.77)
            p
                margin-top: 15px
                margin-bottom: 45px
                color: #e50116
                font-size: 30px
                font-weight: 700
            form
                input
                    margin-bottom: 20px
                    width: 409px
                    line-height: 41px
                    padding: 0 10px
                    border-radius: 7px
                    border: 1px solid #7c8c9c
                    outline: none
                .form-wrapper
                    display: flex
                    justify-content: space-between
                    input
                        width: 186px
                textarea
                    width: 409px
                    height: 79px
                    border: 1px solid #7c8c9c
                    resize: none
                    outline: none
                    border-radius: 7px
                    padding: 10px
                    margin-bottom: 30px
                button
                    color: #ffffff
                    font-family: Roboto
                    font-size: 16px
                    font-weight: 400
                    line-height: 38px
                    background-color: #d32025
                    display: block
                    padding: 0 14px
                    outline: none
                    border: none
                    border-radius: 7px
                    margin: 0 auto
                    margin-bottom: 35px
                .som
                    margin: 0 auto
                    text-align: center
                    max-width: 308px
                    color: #373737
                    font-size: 12px
                    font-weight: 700
                    line-height: 18px
                    a
                        color: #0077fd
                        text-decoration: underline  

#pride
    padding: 50px 0 110px
    .container  
        width: 95%
        max-width: 1150px
        margin: 0 auto
        font-family: Roboto
        font-size: 16px
        font-weight: 400
        .top
            display: flex
            align-items: center
            justify-content: space-between
            span
                display: block
                width: calc(50% - 35px)
                height: 1px
                background-color: #e5012b
        h4
            font-size: 48px
            font-weight: 900
            text-align: center
            text-transform: uppercase
            margin: 50px 0 80px 0
        .wrapper
            display: flex
            justify-content: space-between
            align-items: flex-start
            .item
                text-align: center
                img
                    margin-bottom: 50px
                p   
                    max-width: 246px
                    margin: 0 auto
                    font-family: Roboto
                    font-size: 20px
                    font-weight: 700
                    margin-bottom: 27px
                span
                    display: block
                    margin: 0 auto
                .fi
                    max-width: 245px
                .se
                    max-width: 191px
                .th
                    max-width: 214px
                .fo
                    max-width: 235px



#workwith
    padding: 60px 0 70px 0
    background-color: #f5f5f5
    .container
        width: 95%
        max-width: 1150px
        margin: 0 auto
        font-family: Roboto
        font-size: 18px
        font-weight: 400
        h4
            font-size: 48px
            font-weight: 900
            text-transform: uppercase
            text-align: center
            margin-bottom: 90px
        .wrapper
            display: flex
            justify-content: space-between
            .item
                background-color: #212b37
                max-width: 354px
                display: flex
                flex-direction: column
                text-align: center
                color: #ffffff
                padding: 40px 0 0 0 
                p   
                    font-size: 24px
                    font-weight: 700
                    text-transform: uppercase
                    max-width: 219px  
                    margin: 0 auto    
                    margin-bottom: 24px              
                span
                    display: block
                    margin-bottom: 12px
                a
                    display: block
                    width: 28px
                    height: 28px
                    margin: 0 auto
                    margin-bottom: 20px
            .red
                background-color: #e50116


#aboutUs
    padding: 45px 0 55px 0
    overflow: hidden
    .container
        width: 95%
        max-width: 1150px
        margin: 0 auto
        font-family: Roboto
        font-size: 18px
        font-weight: 400
        .top
            display: flex
            align-items: center
            justify-content: space-between
            span
                display: block
                width: calc(50% - 35px)
                height: 1px
                background-color: #e5012b
        h4
            font-size: 44px
            font-weight: 900
            text-transform: uppercase
            text-align: center
            margin-top: 40px 
            margin-bottom: 35px
        p
            max-width: 1092px
            text-align: center
            margin: 0 auto
            margin-bottom: 56px
        span
            display: block
            text-align: center
            font-size: 24px
            font-weight: 400
            line-height: 24px
            margin-bottom: 30px
        .slider
            position: relative
            #slider-wrapper
                display: flex
                justify-content: space-between
                .item
                    display: flex
                    justify-content: center
            .prevArrow
                position: absolute
                left: -120px
                top: 50%
                transform: translateY(-50%)
                cursor: pointer
            .nextArrow
                position: absolute
                right: -120px
                cursor: pointer
                top: 50%
                transform: translateY(-50%)



//MEDIA QUERIES ---------
@media all and ( max-width:  1430px )
    #aboutUs .container .slider     
        .nextArrow
            right: -25px
        .prevArrow
            left: -25px
@media all and ( max-width:  1250px )
    #aboutUs 
        .container 
            margin-bottom: 35px
            .slider     
                .nextArrow
                    top: 100%
                    right: 50%
                    transform: translateX(100%)
                .prevArrow
                    top: 100%
                    transform: translateX(-100%)
                    left: 50%
@media all and ( max-width:  1210px )
    #exterminate 
        .contantContainer 
            .container
                width: fit-content
                margin: 0 auto
                .left
                    padding-right: 30px
                    h4
                        font-size: 40px
                    p
                        font-size: 37px
                .right
                    ul
                        font-size: 20px
@media all and ( max-width:  1140px )
    #slid 
        .container
            flex-direction: column
            align-items: center
            .left
                max-width: 800px
                margin-bottom: 25px
                width: 100%
                .slider
                    &-wrapper
                        &-item
                            width: 100%
                            max-width: 100%!important
            .right
                text-align: center
                width: 100%
                max-width: 100%
                display: flex
                flex-direction: column
                align-items: center
                form
                    display: flex
                    flex-direction: column
                    align-items: center
                    input
                        box-sizing: border-box
                    button
                        width: 204px
    #slid .container
        flex-direction: column
        align-items: center
    #workwith .container .wrapper
        flex-direction: column
        align-items: center
        .item
            margin-bottom: 25px
    #process 
        .container 
            .wrapper 
                .procList 
                    ul 
                        li
                .center
                    img
                        width: 320px
    #sercis 
        overflow: hidden
        .container 
            .wrapper
                flex-direction: column
                align-items: center
                .item
                    margin-bottom: 20px
                    &:last-child
                        margin-bottom: 0px
    #menu .container .menu .menuList-item a
        padding: 0 15px
    #slid .container .left .slider-wrapper-item p
        font-size: 44px
@media all and ( max-width:  1000px )
    #pride 
        .container 
            .wrapper
                flex-direction: column
                align-items: center
                .item
                    margin-bottom: 25px
    #process 
        .container 
            .wrapper 
                flex-direction: column
                align-items: center
                .left
                    order: 2
                    margin-bottom: 35px
                    margin-top: 35px
                .center
                    order: 1
                .right
                    order: 3
    #stage 
        .container 
            .wrapper 
                .top 
                    .mark 
                        .dots
                            width: 130px
                            left: 163px
    #tech 
        .container 
            .wrapper
                flex-direction: column
                align-items: center
                .center
                    display: none
                .left, .right
                    p
                        max-width: 100%
                .left
                    margin-bottom: 30px

    #exterminate 
        background-color: #fff
        background-image: none
        .contantContainer 
            .container
                flex-direction: column
                .left
                    padding: 30px
                    text-align: center
                    h4
                        max-width: 100%
                .right
                    padding: 30px
    header .container .phoneNumbers .wrapper .left img
        display: none

@media all and ( max-width:  920px )
    #leav 
        background-image: none
        background-color: #f5f5f5
        padding: 25px 0
        .container 
            .wrapper
                margin: 0 auto
                box-shadow: 0 0 10px rgba(0,0,0,0.5)
    header
        .container
            flex-direction: column
            .logo
                margin-bottom: 30px
            .addresInfo
                margin-bottom: 30px
            .phoneNumbers
                a
                    margin: 0 auto
@media all and ( max-width:  880px )
    #slid 
        .container 
            .left 
                width: fit-content
                margin-bottom: 70px
                .slider 
                    &-wrapper
                        display: flex
                        justify-content: center
                    .prevArrow, .nextArrow
                        top: 100%
                    .prevArrow
                        right: unset
                        left: 50%
                        transform: translateX(-100%)
                    .nextArrow
                        right: 50%
                        transform: translateX(100%)
    #slid
        background-image: none
        background-color: #5b8ac3
    #stage .container .wrapper .top .mark .dots
        display: none
@media all and ( max-width:  830px )
    #slid 
        .container 
            width: 100%
            .left 
                width: 100%
                .slider-wrapper
                    &-item 
                        padding: 10px
                        p   
                            font-size: 30px
                        span    
                            font-size: 25px
                        ul 
                            li
                                font-size: 17px
                                &::before
                                    width: 30px
                                    height: 25px
                                    display: block
                                    background-size: cover
    #ofic 
        .container 
            h4
                font-size: 35px
            .wrapper
                flex-direction: column
                align-items: center
    #prof .container .wrapper
        flex-direction: column
        .left
            margin-bottom: 25px
    #menu 
        .container 
            .socLinks
                display: none
@media all and ( max-width:  770px )
    #slid 
        .container 
            .left 
                .slider-wrapper
                    &-item 
                        p
                            font-size: 35px
                        span
                            font-size: 30px
                        ul
                            li
                                font-size: 20px
    footer 
        .container 
            .top
                flex-direction: column
                align-items: center
                justify-content: center
                .center
                    margin-top: 25px
                    margin-bottom: 25px
            .bottom
                flex-direction: column
                align-items: center
                justify-content: center
                .left
                    margin-bottom: 25px
@media all and ( max-width:  650px )
    #quest 
        background-position: left
        .container
            .wrapper 
                padding: 20px
                h4
                    font-size: 23px
                form 
                    .form-wrapper
                        display: flex
                        flex-direction: column
                        input
                            width: 100%
                            margin-bottom: 15px
    #disc .container p
        font-size: 23px
    #scheme h4
        font-size: 35px
    #stage .container .wrapper .top
        flex-direction: column
        align-items: center
        justify-content: center
        .mark
            margin-bottom: 15px
    #attention 
        background-image: none
        padding: 20px 0
        .container 
            .wrapper
                padding: 8px 10px 30px 10px
                img
                    width: 100%
    #prof 
        .container 
            h4
                font-size: 32px
            .wrapper
                .right
                    font-size: 15px
    #menu 
        .container 
            justify-content: center
            padding: 29px 0
            position: relative
            .menu
                display: none
                order: 2
                ul
                    flex-direction: column
                    text-align: center
                    li
            .burger
                display: block
                order: 1
                position: absolute
                right: 20px
                top: 20px
                span
                    display: block
                    height: 1px
                    width: 25px
                    margin-bottom: 6px
                    background-color: black
                    &:last-child
                        margin-bottom: 0
    #exterminate
        .contantContainer
            width: 100%
            .container
                width: 100% 
                .left
                    padding: 10px
                    h4
                        font-size: 25px
                    p
                        font-size: 23px
                .right
                    padding: 10px
                    ul
                        font-size: 15px
    #exterminate .contantContainer .right ul li::before
        margin-right: 10px
        width: 32px
        height: 25px
        background-size: 100% 100%
@media all and ( max-width:  600px )
    #workwith .container 
        h4  
            font-size: 35px
        .wrapper
            .item
                width: 100%

    #pride .container  h4
        font-size: 30px
    #leav 
        .container 
            .wrapper
                padding: 15px
                width: 100%
                form
                    input
                        width: 100%
                    .form-wrapper
                        flex-direction: column
                        input
                            width: 100%
                    textarea
                        width: 100%
    #process 
        .container 
            h4
                font-size: 35px
            .wrapper
                .center
                    img
                        width: 290px
                .left
                    margin-bottom: 20px
                .procList
                    ul
                        li
                            margin-bottom: 20px
    #sercis 
        .container 
            .wrapper 
                .item 
                    width: 100%
                    max-width: 100%
                    .bout-wrapper 
                        .hor-line
                            display: none
    #sercis .container .wrapper .item .bout .img-wrapper img
        display: none
    #sercis .container .wrapper .item .bout .img-wrapper
        height: 0
    #sercis .container .wrapper .item .bout-wrapper .sho
        flex-direction: column
        text-align: center
        padding: 10px 13px
        p
            font-size: 25px
    #sercis .container .wrapper .item .bout-wrapper .links
        flex-direction: column
        .ord
            margin-right: 0
            margin-bottom: 15px
    #sercis .container .wrapper .item .bout
        padding: 10px 15px
    #sercis .container .wrapper .item h6
        font-size: 20px
        line-height: 35px
    #slid 
        .container 
            width: 100%
            .left 
                width: 100%
                .slider-wrapper
                    &-item 
                        padding: 10px
                        p   
                            font-size: 30px
                        span    
                            font-size: 25px
                        ul 
                            li
                                font-size: 17px
                                &::before
                                    width: 30px
                                    height: 25px
                                    display: block
                                    background-size: cover

    #title 
        .titleContainer 
            p
                font-size: 35px
                text-align: center
                width: 100%
            span
                display: none    
@media all and ( max-width:  500px )
    #attention 
        .container 
            .wrapper 
                h5
                    font-size: 23px
                .adv
                    text-align: center
                .timer
                    &-item
                        width: 70px
                        height: 70px
                        p
                            font-size: 23px
                            margin-top: 4px
                a
                    padding: 0
    #priceList 
        .container
            h4
                font-size: 35px
            h5
                font-size: 25px 
            .wrapper 
                .item 
                    .left, .right, .center
                        font-size: 14px
                        padding: 10px
    #tech 
        .container 
            h4
                font-size: 32px
            .wrapper
                padding: 0 10px
                .left
                    p
                        font-size: 16px 
                .right
                    p
                        font-size: 16px
            .dop
                padding: 0 10px
                p
                    font-size: 16px
@media all and ( max-width:  420px )
    #slid .container .left .slider-wrapper-item ul li::before
        width: 20px
        height: 18px
    #attention 
        .container 
            .wrapper 
                .timer
                    flex-wrap: wrap
                    padding: 0 20%
                    &-item
                        margin-bottom: 10px
    #breadcrumbs
        display: none
    header .container .phoneNumbers .wrapper .right a.button
        display: none
